<div _ngcontent-ng-c2888465862="" class="d-flex align-items-center justify-content-between my-4 page-header-breadcrumb flex-wrap gap-2"><div _ngcontent-ng-c2888465862="">
    <h4 _ngcontent-ng-c2888465862="" class="fw-medium fs-20 mb-0 mt-0">
        Welcome, Mr. Stark
    </h4>
    <p _ngcontent-ng-c2888465862="" class="fs-13 text-muted mb-0">
        Let's check your today's stats!
    </p>
</div>
<section>
    <h2>Home</h2>
    <p><strong>Dashboard Overview:</strong> Enrollment statistics, active courses, notifications, and system alerts.</p>
    <p><strong>Quick Links:</strong> Shortcuts to critical tools and reports.</p>
</section>