<!-- Page Header -->
<div class="my-4 page-header-breadcrumb d-flex align-items-center justify-content-between flex-wrap gap-2">
    <div>
        <h1 class="page-title fw-medium fs-18 mb-2">Courses</h1>
        <div class="">
            <nav>
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item"><a href="javascript:void(0);">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Courses</li>
                </ol>
            </nav>
        </div>
    </div>
   
  </div>
<section>
    <h5>Courses</h5>
    <p><strong>Active Courses:</strong> Monitor ongoing courses and participation.</p>
    <p><strong>Course Management:</strong> Add new courses, edit details, or archive outdated ones.</p>
    <p><strong>Curriculum Planning:</strong> Propose updates to align with industry standards.</p>
    <p><strong>Course Completion Reports:</strong> Review overall success and feedback.</p>
</section>