
<!-- Page Header -->
<div class="my-4 page-header-breadcrumb d-flex align-items-center justify-content-between flex-wrap gap-2">
    <div>
        <h1 class="page-title fw-medium fs-18 mb-2">Support & Resource</h1>
        <div class="">
            <nav>
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item"><a href="javascript:void(0);">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Support & Resource</li>
                </ol>
            </nav>
        </div>
    </div>
   
  </div><section>
    <h5>Support & Resources</h5>
    <p><strong>Help Center:</strong> Access guides, FAQs, and tutorials.</p>
    <p><strong>Technical Support:</strong> Submit tickets for platform-related issues.</p>
    <p><strong>Policy Documentation:</strong> Reference policies, rules, and regulations.</p>
</section>