<!-- Page Header -->
   <div class="my-4 page-header-breadcrumb d-flex align-items-center justify-content-between flex-wrap gap-2">
    <div>
        <h1 class="page-title fw-medium fs-18 mb-2">{{title}}</h1>
        <div class="">
            <nav>
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item"><a href="javascript:void(0);">{{title1}}</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{activeTitle}}</li>
                </ol>
            </nav>
        </div>
    </div>
   
</div>
<!-- Page Header Close -->
