<!-- Page Header -->
<div class="my-4 page-header-breadcrumb d-flex align-items-center justify-content-between flex-wrap gap-2">
    <div>
        <h1 class="page-title fw-medium fs-18 mb-2">Scheduling</h1>
        <div class="">
            <nav>
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item"><a href="javascript:void(0);">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Scheduling</li>
                </ol>
            </nav>
        </div>
    </div>
   
  </div>
<section>
    <h5>Scheduling</h5>
    <p><strong>Academic Calendar:</strong> Overview of key dates (exams, course starts, holidays).</p>
    <p><strong>Room and Resource Booking:</strong> Manage classroom and resource allocation.</p>
</section>