.main-chat-msg {

    background-color: black  !important;
    color: white  !important; /* To ensure text is readable */
}
.main-chart-wrapper .main-chat-area .chat-content .chat-item-end .main-chat-msg div{

    background-color: black !important;
    color: white !important; /* To ensure text is readable */
}
.main-chart-wrapper .main-chat-area .chat-content .main-chat-msg div p{
    color:white !important;
}
.btn-send{
    background-color: black !important;
    color: white !important; /* To ensure text is readable */
}
.main-chart-wrapper .main-chat-area .chat-day-label span{
    background-color: black !important;
    color: white !important; /* To ensure text is readable */
}
.main-chart-wrapper .chat-info .nav-link.active{
    background-color: black !important;
    color: white !important; /* To ensure text is readable */
}
.ri-history-line:before{
    color:white !important;
}
.tab-style-2 .nav-item .nav-link.active:before{
    background-color: white !important;
}