<!-- Page Header -->
<div class="my-4 page-header-breadcrumb d-flex align-items-center justify-content-between flex-wrap gap-2">
    <div>
        <h1 class="page-title fw-medium fs-18 mb-2">Faculty & Staff</h1>
        <div class="">
            <nav>
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item"><a href="javascript:void(0);">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Faculty & Staff</li>
                </ol>
            </nav>
        </div>
    </div>
   
  </div>
<section>
    <h5>Faculty & Staff</h5>
    <p><strong>Instructor Profiles:</strong> View qualifications, teaching schedules, and performance feedback.</p>
    <p><strong>Assign Courses:</strong> Allocate instructors to courses.</p>
    <p><strong>Feedback on Faculty:</strong> Access evaluations and reviews from students.</p>
</section>