<!-- Page Header -->
<div class="my-4 page-header-breadcrumb d-flex align-items-center justify-content-between flex-wrap gap-2">
    <div>
        <h1 class="page-title fw-medium fs-18 mb-2">Announcements</h1>
        <div class="">
            <nav>
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item"><a href="javascript:void(0);">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Announcements</li>
                </ol>
            </nav>
        </div>
    </div>
   
</div>
<section>
    <h5>Announcements</h5>

    <p><strong>Post Announcements:</strong> Create and share updates for students, faculty, or both.</p>
    <p><strong>View Announcements:</strong> Overview of past and current announcements.</p>
    <p><strong>Schedule Announcements:</strong> Set specific dates and times for automated posting.</p>
</section>