<!-- Page Header -->
<div class="my-4 page-header-breadcrumb d-flex align-items-center justify-content-between flex-wrap gap-2">
    <div>
        <h1 class="page-title fw-medium fs-18 mb-2">Forum Moderation</h1>
        <div class="">
            <nav>
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item"><a href="javascript:void(0);">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Forum Moderation</li>
                </ol>
            </nav>
        </div>
    </div>
   
  </div>
<section>
    <h5>Forum Moderation</h5>
    <p><strong>Manage Discussions:</strong> Approve or remove posts, flag inappropriate content.</p>
    <p><strong>Monitor Forum Activity:</strong> Track active threads and participation metrics.</p>
    <p><strong>Create Guidelines:</strong> Set and update forum rules for students and faculty.</p>
    <p><strong>Engage with Forums:</strong> Post responses or announcements in active discussions.</p>
</section>