<!-- Page Header -->
<div class="my-4 page-header-breadcrumb d-flex align-items-center justify-content-between flex-wrap gap-2">
    <div>
        <h1 class="page-title fw-medium fs-18 mb-2">Settings</h1>
        <div class="">
            <nav>
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item"><a href="javascript:void(0);">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Settings</li>
                </ol>
            </nav>
        </div>
    </div>
   
  </div>
<section>
    <h5>Settings</h5>
    <p><strong>User Preferences:</strong> Customize notifications, themes, and layouts.</p>
    <p><strong>Role Assignments:</strong> Define access levels for staff members.</p>
    <p><strong>Data Backup & Recovery:</strong> Manage periodic backups of critical information.</p>
</section>n