<!-- Page Header -->
<div class="my-4 page-header-breadcrumb d-flex align-items-center justify-content-between flex-wrap gap-2">
    <div>
        <h1 class="page-title fw-medium fs-18 mb-2">Students</h1>
        <div class="">
            <nav>
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item"><a href="javascript:void(0);">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Students</li>
                </ol>
            </nav>
        </div>
    </div>
   
  </div>
<section>
    <h5>Students</h5>
    <p><strong>Student Directory:</strong> Comprehensive student database with search and filters.</p>
    <p><strong>Academic Performance:</strong> Individual student progress and grades.</p>
    <p><strong>Attendance Monitoring:</strong> Track trends and absenteeism rates.</p>
    <p><strong>Issue Warnings or Notices:</strong> Notify students of attendance, performance, or misconduct issues.</p>
    <p><strong>Certification Management:</strong> Approve and issue certifications.</p>
</section>